@page "/"
@inject HttpClient Http

<PageTitle>Accounts</PageTitle>

<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <h2>Accounts</h2>
        <p>Click on an account to see that accounts readings</p>
        <DataGrid TItem="AccountDto"
                  Data="@accounts"
                  SelectionMode="DataGridSelectionMode.Single"
                  SelectedRowChanged="OnAccountSelected" Striped Bordered Virtualize VirtualizeOptions="@(new VirtualizeOptions() { DataGridHeight = "1200px", DataGridMaxHeight = "1200px" })">
            <DataGridColumn TItem="AccountDto" Field="@nameof(AccountDto.AccountId)" Caption="Account ID" />
            <DataGridColumn TItem="AccountDto" Field="@nameof(AccountDto.FirstName)" Caption="First Name" />
            <DataGridColumn TItem="AccountDto" Field="@nameof(AccountDto.LastName)" Caption="Last Name" />
        </DataGrid>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <h2>Meter Readings</h2>
        <br />
        <DataGrid TItem="MeterReadingDto" Data="@meterReadings" Striped Bordered Virtualize VirtualizeOptions="@(new VirtualizeOptions() { DataGridHeight = "1200px", DataGridMaxHeight = "1200px" })">
            <DataGridColumn TItem="MeterReadingDto" Field="@nameof(MeterReadingDto.MeterReadingDateTime)" Caption="Reading Date/Time">
                <DisplayTemplate>
                    @{
                        DateTime meterReadingDateTime = (context as MeterReadingDto).MeterReadingDateTime;
                        @meterReadingDateTime.ToString("ddMMMyy HH:mm")
                    }
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="MeterReadingDto" Field="@nameof(MeterReadingDto.MeterReadValue)" Caption="Value">
                <DisplayTemplate>
                    @{
                        int meterReadValue = (context as MeterReadingDto).MeterReadValue;
                        @meterReadValue.ToString("00000")
                    }
                </DisplayTemplate>
            </DataGridColumn>
        </DataGrid>
    </Column>
</Row>